
__pycache__/DrawText\.cpython-36\.pyc

__pycache__/LoadAssets\.cpython-36\.pyc

__pycache__/MainGame\.cpython-36\.pyc

__pycache__/MainMenu\.cpython-36\.pyc

__pycache__/Objects\.cpython-36\.pyc

__pycache__/Player\.cpython-36\.pyc

__pycache__/pyganim\.cpython-36\.pyc

edugame\.log

*.log

*.xml

*.iml

minigames/__pycache__/__init__\.cpython-36\.pyc

minigames/amar/__pycache__/level1\.cpython-36\.pyc

minigames/amar/__pycache__/level2\.cpython-36\.pyc

minigames/amar/__pycache__/level3\.cpython-36\.pyc

minigames/amar/__pycache__/level4\.cpython-36\.pyc

minigames/amar/__pycache__/level5\.cpython-36\.pyc

minigames/amar/__pycache__/minigameAmar\.cpython-36\.pyc
