
\.idea/workspace\.xml
\__pycache__/DrawText.cpython-36\.pyc
\__pycache__/LoadAssets.cpython-36\.pyc
\__pycache__/MainGame.cpython-36\.pyc
\__pycache__/Objects.cpython-36\.pyc
\__pycache__/Player.cpython-36\.pyc
\__pycache__/pyganim.cpython-36\.pyc
\edugame\.log